<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPostingsService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test3.signant.no/WS/V1/PostingsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPostingsService"
                contract="IPostingsService" name="BasicHttpBinding_IPostingsService" />
        </client>
    </system.serviceModel>
</configuration>